a{
    text-decoration: none !important;
}
li{list-style-type:none;}
/*
header*/
.header-index[summer] {
    background-color: #0A0E11;
}
.header-index {
    background-color: #05031A;
    border: none;
}
.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}
.tm-top-bar.active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background: white;
}
/*header-nav*/
.header .layui-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}
/*logo*/
.logo {
    position: absolute;
    left: 0;
    top: 16px;
}
.logo img {
    width: 82px;
    height: 31px;
}
/*
slide*/
.site-banner{
    margin-top:60px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.site-banner {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #393D49;
}
/*
relative*/
.tm-section {
    min-height: 515px;
}
.tm-position-relative {
    position: relative;
}
.tm-pb-4 {
    padding-bottom: 100px;
}
.tm-pt-5 {
    padding-top: 100px;
}
.tm-article {
    padding: 40px;
    transition: all 0.3s ease;
}
.tm-color-primary {
    color: #009688;
}
.tm-margin-b-20 {
    margin-bottom: 20px;
}
.tm-fa-6x {
    font-size: 6em;
}
.tm-article-title-1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
/*
pad*/
#tm-section-6 {
    background-image: url(../images/bg-img-3.jpg);
    background-position: top center;
    padding-top: 120px;
    padding-bottom: 60px;
}
.tm-bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.tm-section-pad {
    padding-top: 80px;
    padding-bottom: 80px;
}
.tm-section {
    min-height: 515px;
}
.tm-section-pad {
    padding: 30px 50px;
}
.tm-position-relative {
    position: relative;
}
#google-map {
    height: 479px;
    width: 100%;
}
.tm-bg-white {
    background: white;
}
.tm-p-4 {
    padding: 32px!important;
}
.contact-form .form-control {
    background-color: #F4F4F4;
    border: none;
    font-size: 0.8rem;
    font-weight: 300;
}
.form-control {
    border-radius: 0;
    padding: 0.6rem 0.75rem;
}
.tm-btn-primary {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}
.btn-primary {
    background-color: #009688;
    border-color: #009688;
    border-radius: 0;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 13px 30px;
    text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #d53239;
    border-color: #d53239;
}
.contact-form .form-control {
    background-color: #F4F4F4;
    border: none;
    font-size: 0.8rem;
    font-weight: 300;
}
.form-control:focus {
    border-color: #009688;
    box-shadow: 0 0 0 0.2rem rgba(238,80,87,.25);
}
/*
footer*/
.footer {
    width: 100%;
    height: 60px;
    background-color: #465153;
    text-align: center;
}
.f12 {
    font-size: 12px;
}
.c999 {
    color: #999;
}
.footer .text-info {
    height: 30px;
    line-height: 30px;
}

/***************/
.position_list{
    text-align: left;
}
.position_list a:hover{
    text-decoration: none;
    color: #009688;
}

/*
职位详情页*/
.position_main{
    background-color: #f4f4f4;
    font-family: "微软雅黑";
    font-size: 14px;
}
.position_panel{
    margin-top: 75px;
}
.w1200 .w680 {
    width: 850px;
}

.fl {
    float: left;
}
.bg {
    background-color: #fff;
    box-shadow: 2px 2px 2px #e9e9e9;
}
.w1200 .w280 {
    width: 320px;
}
.fr {
    float: right;
}
.w1200{
    overflow: hidden;
    width: 1200px;
    margin: 75px auto 20px auto;
}
.mt30 {
    margin-top: 30px;
}
.f28 {
    font-size: 28px;
}
.c333 {
    color: #333;
}
.p20 {
    padding: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mt30 {
    margin-top: 30px;
}
.bgc_f4 {
    background-color: #f4f4f4;
}
.lh24 {
    line-height: 24px;
}
.overhidden {
    overflow: hidden;
}

.wp33-3 {
    width: 33.3%;
}

/*
面包屑*/
.bp1 {
    background-position: left 2px;
}
.pl20 {
    padding-left: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mt20 {
    margin-top: 20px;
}


.ml3 {
    margin-left: 3px;
}

.breadcrumb{
    font-size: 14px !important;
    background-color: #ffffff;
}
.block {
    display: block;
}
.tr {
    text-align: right;
}
/*
职位说明*/
.mr10 {
    margin-right: 10px;
}
.mt25 {
    margin-top: 25px;
}
.mb15 {
    margin-bottom: 15px;
}
.f18 {
    font-size: 18px;
}

.pt20 {
    padding-top: 20px;
}
.border_dashed {
    border-bottom: 1px dashed #f4f4f4;
}
.mt10 {
    margin-top: 10px;
}
.mt8 {
    margin-top: 6px;
}
.lh14 {
    line-height: 14px;
}
.f10 {
    font-size: 10px;
}
.tc {
    text-align: center;
}
.cfff {
    color: #fff;
}
.w30 {
    width: 30px;
}
.bg_btn_small {
    border-radius: 25px;
}
.lh30 {
    line-height: 30px;
}
.c666 {
    color: #666;
}
.pb10 {
    padding-bottom: 10px;
}
.bp4 {
    background-position: left -22px;
}
.pl10 {
    padding-left: 10px;
}
.mr50 {
    margin-right: 50px;
}
.Clearfix {
    display: block;
}
.icon {
    background-image: url(../../../images/web/style300/icons.png);
    background-repeat: no-repeat;
}
.bp5 {
    background-position: left -50px;
}
.pl15 {
    padding-left: 15px;
}
.lh40 {
    line-height: 40px;
}

/*
收藏*/
.collection{
    position: absolute;
    margin-left: 760px;
    margin-top: 80px;
}
.collection img{
    width: 64px;
    cursor: pointer;
}
/*
职位列表*/
.lh50 {
    line-height: 40px;
}

.h50 {
    height: 40px;
}
.mt30 {
    margin-top: 30px;
}


.pr {
    position: relative;
}

.wp94 {
    width: 94%;
}

.border_right {
    border-right: 1px solid #eeeeee;
}
.pr20 {
    padding-right: 20px;
}
.pl20 {
    padding-left: 20px;
}
.listbox-2 {
    position: absolute;
    margin-left: 180px;
    top: 55px;
    display: block;
    z-index: 100;
}

.w1200 .wp66 {
    width: 66%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.outline-none {
    border: none;
    outline: none;
}
.wp66 {
    width: 60%;
}
.f14 {
    font-size: 14px;
}
.bp10 {
    background-position: 20px -168px;
}
.pl46 {
    padding-left: 10px;
}
.m0 {
    margin: 0px auto;
}
input.h50{
    height: 40px;
}
a.bg_search:hover{
    color: #fff;
}
a.bg_search:active {
    color: #fff;
}
a.bg_search:link {
    color: #fff;
}
#searchInputTypeArea:hover{
    color:#333;
}
/*
工作地点*/
.mt15 {
    margin-top: 15px;
}
.bp7 {
    background-position: 0 -25px;
}

.w1200 .w560 {
    width: 670px;
}
.w560 {
    width: 560px;
}
.ml15 {
    margin-left: 15px;
}
.mt0 {
    margin-top: 0px;
}
.lh20 {
    line-height: 20px;
}

.LocalDataUIC-simulation-text {
    color: #454545;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.LocalDataUIC {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.jHolder{
    cursor: pointer;
}

/*
职位列表*/
.citylist li{
    width: 70px;
    padding: 2px 10px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.citylist .item{
    cursor: pointer;
}
.citylist .active{
    background-color: #22AC38;
    color: #fff;
}
.w75 {
    width: 75px;
}


.ml5 {
    margin-left: 5px;
}

.lh25 {
    line-height: 25px;
}

.tc {
    text-align: center;
}
.cityactive{
    overflow: hidden;
}
.cityactive li{
    width: 70px;
    padding: 2px 5px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.cityactive  .active{
    background-color: #22AC38;
    color: #fff;
}
.cityactive .all,
.cityactive .cityactive_left{
    float: left;
}
.cityactive .cityactive_right{
    float: right;
    width: 230px;
}

.mt22 {
    margin-top: 22px;
}
