/*
header*/
.header-index[summer] {
    background-color: #0A0E11;
}
.header-index {
    background-color: #05031A;
    border: none;
}
.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}
.tm-top-bar.active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background: white;
}
/*header-nav*/
.header .layui-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}
/*logo*/
.logo {
    position: absolute;
    left: 0;
    top: 16px;
}
.logo img {
    width: 82px;
    height: 31px;
}
/*
slide*/
.site-banner{
    margin-top:60px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.site-banner {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #393D49;
}
/*
relative*/
.tm-section {
    min-height: 515px;
}
.tm-position-relative {
    position: relative;
}
.tm-pb-4 {
    padding-bottom: 100px;
}
.tm-pt-5 {
    padding-top: 100px;
}
.tm-article {
    padding: 40px;
    transition: all 0.3s ease;
}
.tm-color-primary {
    color: #009688;
}
.tm-margin-b-20 {
    margin-bottom: 20px;
}
.tm-fa-6x {
    font-size: 6em;
}
.tm-article-title-1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
/*
pad*/
#tm-section-6 {
    background-image: url(../images/bg-img-3.jpg);
    background-position: top center;
    padding-top: 120px;
    padding-bottom: 60px;
}
.tm-bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.tm-section-pad {
    padding-top: 80px;
    padding-bottom: 80px;
}
.tm-section {
    min-height: 515px;
}
.tm-section-pad {
    padding: 30px 50px;
}
.tm-position-relative {
    position: relative;
}
#google-map {
    height: 479px;
    width: 100%;
}
.tm-bg-white {
    background: white;
}
.tm-p-4 {
    padding: 32px!important;
}
.contact-form .form-control {
    background-color: #F4F4F4;
    border: none;
    font-size: 0.8rem;
    font-weight: 300;
}
.form-control {
    border-radius: 0;
    padding: 0.6rem 0.75rem;
}
.tm-btn-primary {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}
.btn-primary {
    background-color: #009688;
    border-color: #009688;
    border-radius: 0;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 13px 30px;
    text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #d53239;
    border-color: #d53239;
}
.contact-form .form-control {
    background-color: #F4F4F4;
    border: none;
    font-size: 0.8rem;
    font-weight: 300;
}
.form-control:focus {
    border-color: #009688;
    box-shadow: 0 0 0 0.2rem rgba(238,80,87,.25);
}
/*
footer*/
.footer {
    width: 100%;
    height: 60px;
    background-color: #465153;
    text-align: center;
}
.f12 {
    font-size: 12px;
}
.c999 {
    color: #999;
}
.footer .text-info {
    height: 30px;
    line-height: 30px;
}

/***************/
.position_list{
    text-align: left;
}
.position_list a:hover{
    text-decoration: none;
    color: #009688;
}

/*
职位详情页*/
.position_main{
    background-color: #f4f4f4;
    font-family: "微软雅黑";
    font-size: 14px;
}
.position_panel{
    margin-top: 75px;
}
.w1200 .w680 {
    width: 850px;
}

.fl {
    float: left;
}
.bg {
    background-color: #fff;
    box-shadow: 2px 2px 2px #e9e9e9;
}
.w1200 .w280 {
    width: 320px;
}
.fr {
    float: right;
}
.w1200{
    overflow: hidden;
    width: 1200px;
    margin: 75px auto 20px auto;
}
.mt30 {
    margin-top: 30px;
}
.f28 {
    font-size: 28px;
}
.c333 {
    color: #333;
}
.p20 {
    padding: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mt30 {
    margin-top: 30px;
}
.bgc_f4 {
    background-color: #f4f4f4;
}
.lh24 {
    line-height: 24px;
}
.overhidden {
    overflow: hidden;
}
.c999 {
    color: #999;
}
.wp33-3 {
    width: 33.3%;
}
.c333 {
    color: #333;
}
/*
面包屑*/
.bp1 {
    background-position: left 2px;
}
.pl20 {
    padding-left: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mt20 {
    margin-top: 20px;
}
.f12 {
    font-size: 12px;
}
.c999 {
    color: #999;
}
.ml3 {
    margin-left: 3px;
}
.f12 {
    font-size: 12px;
}
.breadcrumb{
    font-size: 14px !important;
    background-color: #ffffff;
}

/*
职位说明*/
.mr10 {
    margin-right: 10px;
}
.mt25 {
    margin-top: 25px;
}
.mb15 {
    margin-bottom: 15px;
}
.f18 {
    font-size: 18px;
}
.c333 {
    color: #333;
}